<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Hello World Sample App</title>
    <link rel="stylesheet" href="~/css/msteams-16.css" />
    <link rel="stylesheet" href="~/css/Custom.css" />
    <link rel="stylesheet" href="~/css/Site.css" />

    <script
        src="https://res.cdn.office.net/teams-js/2.13.0/js/MicrosoftTeams.min.js"
        integrity="sha384-F9Iwc2j9qTKP1PITJeEV0OOS8NDzEUzrP//Fz0t2gzapTMPvNjhYdQjF0idJOuG3"
        crossorigin="anonymous"
    ></script>

    @RenderSection("scripts", required: false)
</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</body>
</html>
